* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(146, 42, 244);
    color: white;
}

.container {
    margin: 12%;

}

.container span {
    margin-top: 30px;
    color: rgb(255, 255, 55);

}

.main {
    width: 45%;
    height: 70px;
    max-width: 450px;
    margin-top: 25px;
    background-color: rgb(210, 160, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.main #calander {
    border: 0;
    outline: 0;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    padding: 8px;
    font-size: 15px;
}

.container #btn {
    color: black;
    background-color: yellow;
    border: 0;
    outline: 0;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    text-align: center;
    cursor: pointer;

}

.container #message {
    margin-top: 20px;
    color: white;
    display: none;
}

#message span {
    color: yellow;
}